<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Players</title>
    <link rel="stylesheet" href="/static/bootstrap.css">
    <script src="/static/jquery-3.3.1.min.js"></script>
    <script src="/static/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/moment.min.js"></script>
    {{ moment.include_moment() }}
</head>

<body>
    <div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Signed Up</th>
                <th scope="col">Display Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Postcode</th>
                <th scope="col">Hand</th>
                <th scope="col">Top Score</th>
                <th scope="col">Plays</th>
              </tr>
            </thead>
            <tbody>
              {% for player in players %}
              <tr>
                <th scope="row">{{ moment(player.updatedAt, local=False).fromNow() }}</th>
                <td>{{ player.displayName }}</td>
                <td>{{ player.firstName }}</td>
                <td>{{ player.lastName }}</td>
                <td>{{ player.email }}</td>
                <td>{{ player.phone }}</td>
                <td>{{ player.postcode }}</td>
                <td>{{ player.hand }}</td>
                {% if player.score is iterable %}
                <td>
                    {{ ((player.scores|default([0]))|sort(reverse=True))[0]|default(0) }}
                </td>
                <td>
                  {{ (player.scores|default([]))|length }}
                </td>
                {% else %}
                <td>
                  0
                </td>
                <td>
                  0
                </td>
                {% endif %}
              </tr>
              {% endfor %}

            </tbody>
          </table>

    </div>
    


</body>

</html>